<!-- Footer -->
<footer>
    <div class="container">
        <div class="row final">
            <div class="col-md-8">
                <!-- TODO: FIX HARDCODING -->
                <p class="copyright text-muted small">Copyright &copy; Christopher Meiklejohn. All Rights Reserved.</p>
            </div>
            <div class="col-md-4">
                <img src="img/CMU_wordmark_1500px-min.png" style="width: 250px; margin-top: 20px;" />
            </div>
        </div>
    </div>
</footer>
{{ partial "js.html" . }}
</body>
</html>
